<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        table, th, td {
            border: black 1px solid;
        }
    </style>
</head>
<body>
<h2><a href="/user">/user</a></h2>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="LOGOUT"></input>
</form></br>
<div>
    <table>
        <thead>
        <tr>
            <th>NAME</th><th>PASSWORD</th><th>EMAIL</th><th>ROLES</th><th>EDIT</th><th>DELETE</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="user : ${users}">
            <tr>
                <td th:id = "'tr_fn_' + ${user.getId()}" th:text="${user.getLogin()}"></td>
                <td th:id = "'tr_ln_' + ${user.getId()}" th:text="${user.getPassword()}"></td>
                <td th:id = "'tr_em_' + ${user.getId()}" th:text="${user.getEmail()}"></td>
                <td th:id = "'tr_cm_' + ${user.getId()}" th:text="${user.getRoles()}"></td>
                <td><button th:id = "'edit_'+ ${user.getId()}" th:onclick="'edit_user(' +${user.getId()} +')'">EDIT</button></td>
                <td><button th:id = "'delete_'+ ${user.getId()}" th:onclick="'delete_user(' +${user.getId()} +')'">DELETE</button></td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <form  id ="myForm" th:onsubmit="submitForm()">
        <label for="login">Login(only letters):</label><br>
        <input type="text" id="login" required><br>

        <label for="password">Password(only letters):</label><br>
        <input type="text" id="password" required ><br>

        <label for="email">Email(only letters):</label><br>
        <input type="text" id="email" required ><br>

        <label for="role">ROLE(ROLE_USER or ROLE_ADMIN):</label><br>
        <input type="text" id="role" required><br>

        <button type="submit" >Submit</button>
    </form>
</div>
</body>
<script>
    function delete_user(user_id){
        let url = "/admin/" + user_id;
        $.ajax({
            url: url,
            type: 'DELETE',
            success: function (){
                window.location.reload();
            }
        });
    }

    function submitForm() {
        // Get form data as JSON
        const formData = {
            login: $('#login').val(),
            password: $('#password').val(),
            email: $('#email').val(),
            roles: $('#role').val(),
        };

        // Make POST request using jQuery $.ajax()
        $.ajax({
            url: '/admin/add',
            method: 'POST',
            dataType: 'json',
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify(formData)
        });
        setTimeout(()=>{
            window.location.reload();
        },3000)
    }

    function edit_user(user_id){
        let id_delete = "#delete_" + user_id;
        $(id_delete).remove();

        let id_edit = "#edit_" + user_id;
        let save = "<button id = 'save_" + user_id + "' onclick ='update_user( "+ user_id +")'>SAVE</button>";
        $(id_edit).parent().html(save);
        // let property_save_tag = "update_user(" + user_id + ")";
        // $(id_edit).attr("onclick", property_save_tag);

        let tr_firstN = "#tr_fn_" + user_id;
        let v_firstN = $(tr_firstN).html();
        $(tr_firstN).html("<input id ='input_fn_" +user_id+"' type='text' value='"+v_firstN+"'>");

        let tr_lastN = "#tr_ln_" + user_id;
        let v_tr_lastN = $(tr_lastN).html();
        $(tr_lastN).html("<input id ='input_ln_" +user_id+"' type='text' value='"+v_tr_lastN+"'>");

        let tr_email = "#tr_em_" + user_id;
        let v_tr_email = $(tr_email).html();
        $(tr_email).html("<input id ='input_email_" +user_id+"' type='text' value='"+v_tr_email+"'>");

        let tr_carM = "#tr_cm_" + user_id;
        let v_carM = $(tr_carM).html();
        $(tr_carM).html("<input id ='input_carM_" +user_id+"' type='text' value='"+v_carM+"'>");

    }

    function update_user(user_id){
        let url = "/admin/" + user_id;
        let firstName = '#input_fn_' +user_id;
        let lastName = '#input_ln_' +user_id;
        let email = '#input_email_' +user_id;
        let carModel = '#input_carM_' +user_id;
        console.log($(carModel).val());
        const formData = {
            login: $(firstName).val(),
            password: $(lastName).val(),
            email: $(email).val(),
            roles: $(carModel).val()
        };

        // Make POST request using jQuery $.ajax()
        $.ajax({
            url: url,
            method: 'POST',
            dataType: 'json',
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify(formData)
        });

        setTimeout(()=>{
            document.location.reload();
        },300);
    }
    $(document).ready(function() {
        $("#myForm").submit(function(event) {
            event.preventDefault();
            setTimeout(()=>{
                window.location.reload();
            },1000)
        });
    });
</script>
</html>