<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Spring Security Example</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark  bg-dark ">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <span class="text-light"><h6><span sec:authentication="name"></span> with roles <span sec:authentication="principal.authorities"></span></h6></span>
                </li>
            </ul>
                <form class="d-flex"th:action="@{/logout}" method="post">
                    <input type="submit" class="btn btn-dark" value="Logout"></input>
                </form>
        </div>
    </div>
</nav>
<div class="container-fluid border">
    <div class="row">
        <div class="col-2 p-0 mt-2">
            <ul class="nav nav-pills mb-3 d-grid" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation" sec:authorize="hasAuthority('ADMIN')">
                    <button class="nav-link   w-100" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-admin" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Admin</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link  active w-100" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-user" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">User</button>
                </li>
            </ul>
        </div>
        <div class="col-10 bg-light">
           <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade" id="pills-admin" role="tabpanel" aria-labelledby="pills-home-tab" sec:authorize="hasAuthority('ADMIN')">
                <div class="container ms-2">
                    <h1 class="mt-5 ">Admin panel</h1><br><ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">All Users</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">New Users</button>
                    </li>
                </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <table class="table table-bordered">
                                <thead >
                                <tr class="table-secondary">
                                    <th scope="col"><h6 class="ms-2 ">All Users</h6></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="bg-white">
                                    <td>
                                        <hr>
                                        <table id="admin-table" class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">First name</th>
                                                <th scope="col">Last name</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Roles</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <th:block th:each="user : ${users}">
                                                <tr class="table-secondary">
                                                    <th scope="row" th:id = "'tr_id_' + ${user.id}" th:text="${user.getId()}"></th>
                                                    <td th:id = "'tr_fn_' + ${user.id}" th:text="${user.getFirstName()}"></td>
                                                    <td th:id = "'tr_ln_' + ${user.id}" th:text="${user.getLastName()}"></td>
                                                    <td th:id = "'tr_age_' + ${user.id}" th:text="${user.getAge()}"></td>
                                                    <td th:id = "'tr_em_' + ${user.id}" th:text="${user.getEmail()}"></td>
                                                    <td th:id = "'tr_cm_' + ${user.id}" th:text="${user.getRoles()}"></td>
                                                    <td>
                                                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editModal" th:onclick="'edit_user(' +${user.getId()} +')'">Edit</button>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" th:onclick="'delete_user_window(' +${user.getId()} +')'">Delete</button>
                                                    </td>
                                                </tr>
                                            </th:block>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <table class="table table-bordered">
                                <thead >
                                <tr class="table-secondary">
                                    <th scope="col"><h6 class="ms-2 ">Add new user</h6></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="bg-white">
                                    <td>
                                        <div class="row">
                                            <div class="mx-auto col-10 col-md-8 col-lg-6">
                                                <form id="add-new-user-form" onsubmit="submitForm();return false">
                                                    <div class="mb-3 col-8 text-center mt-3">
                                                        <label for="first-name-new-user" class="form-label "><b>First Name</b></label>
                                                        <input type="text" class="form-control " id="first-name-new-user" required>
                                                    </div>
                                                    <div class="mb-3 col-8 text-center">
                                                        <label for="last-name-new-user" class="form-label "><b>Last Name</b></label>
                                                        <input type="text" class="form-control " id="last-name-new-user" required>
                                                    </div>
                                                    <div class="mb-3 col-8 text-center">
                                                        <label for="age-new-user" class="form-label "><b>Age</b></label>
                                                        <input type="text" class="form-control " id="age-new-user" required>
                                                    </div>
                                                    <div class="mb-3 col-8 text-center">
                                                        <label for="email-new-user" class="form-label "><b>Email</b></label>
                                                        <input type="text" class="form-control " id="email-new-user" required>
                                                    </div>
                                                    <div class="mb-3 col-8 text-center">
                                                        <label for="password-new-user" class="form-label "><b>Password</b></label>
                                                        <input type="text" class="form-control " id="password-new-user" required>
                                                    </div>
                                                    <div class="mb-3 col-8 text-center">
                                                        <label for="role-new-user" class="form-label "><b>Role</b></label>
                                                        <select class="form-select" size="2"  id="role-new-user" required>
                                                            <option value="ADMIN">ADMIN</option>
                                                            <option value="USER">USER</option>
                                                        </select>
                                                    </div>
                                                    <div class="mb-3 col-8 text-center">
                                                        <button type="submit" class="btn btn-primary" >Add new user</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
<!--                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>-->
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show active" id="pills-user" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="container ms-2">
                    <h1 class="mt-5 ">User information Page</h1><br>
                    <table class="table table-bordered">
                        <thead >
                        <tr class="table-secondary">
                            <th scope="col"><h3 class="ms-2 ">About User</h3></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="bg-white">
                            <td id="user-td">
                                <hr>
                                <table id="user-table" class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First name</th>
                                        <th scope="col">Last name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Roles</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <th:block th:each="user : ${users}">
                                            <tr class="table-secondary">
                                                <th scope="row" th:id = "'tr_id_' + ${user.id}" th:text="${user.getId()}"></th>
                                                <td th:id = "'tr_fn_' + ${user.id}" th:text="${user.getFirstName()}"></td>
                                                <td th:id = "'tr_ln_' + ${user.id}" th:text="${user.getLastName()}"></td>
                                                <td th:id = "'tr_age_' + ${user.id}" th:text="${user.getAge()}"></td>
                                                <td th:id = "'tr_em_' + ${user.id}" th:text="${user.getEmail()}"></td>
                                                <td th:id = "'tr_cm_' + ${user.id}" th:text="${user.getRoles()}"></td>
                                            </tr>
                                        </th:block>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
        </div>

        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="mx-auto col-10 col-md-8 col-lg-6">
                        <form>
                            <div class="mb-3 col-10 text-center mt-3">
                                <label for="id-edit-user" class="form-label "><b>ID</b></label>
                                <input type="text" class="form-control" id="id-edit-user" disabled >
                            </div>
                            <div class="mb-3 col-10 text-center mt-3">
                                <label for="first-name-edit-user" class="form-label "><b>First Name</b></label>
                                <input type="text" class="form-control " id="first-name-edit-user">
                            </div>
                            <div class="mb-3 col-10 text-center">
                                <label for="last-name-edit-user" class="form-label "><b>Last Name</b></label>
                                <input type="text" class="form-control " id="last-name-edit-user">
                            </div>
                            <div class="mb-3 col-10 text-center">
                                <label for="age-edit-user" class="form-label "><b>Age</b></label>
                                <input type="text" class="form-control " id="age-edit-user" >
                            </div>
                            <div class="mb-3 col-10 text-center">
                                <label for="email-edit-user" class="form-label "><b>Email</b></label>
                                <input type="text" class="form-control " id="email-edit-user">
                            </div>
                            <div class="mb-3 col-10 text-center">
                                <label for="password-edit-user" class="form-label "><b>Password</b></label>
                                <input type="text" class="form-control " id="password-edit-user">
                            </div>
                            <div class="mb-3 col-10 text-center">
                                <label for="role-edit-user" class="form-label "><b>Role</b></label>
                                <select class="form-select" size="2"  id="role-edit-user">
                                    <option value="ADMIN">ADMIN</option>
                                    <option value="USER">USER</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" th:onclick="update_user()">Edit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="mx-auto col-10 col-md-8 col-lg-6">
                    <form>
                        <div class="mb-3 col-10 text-center mt-3">
                            <label for="id-delete-user" class="form-label "><b>ID</b></label>
                            <input type="text" class="form-control " id="id-delete-user" disabled >
                        </div>
                        <div class="mb-3 col-10 text-center mt-3">
                            <label for="first-name-delete-user" class="form-label "><b>First Name</b></label>
                            <input type="text" class="form-control " id="first-name-delete-user" disabled >
                        </div>
                        <div class="mb-3 col-10 text-center">
                            <label for="last-name-delete-user" class="form-label "><b>Last Name</b></label>
                            <input type="text" class="form-control " id="last-name-delete-user" disabled >
                        </div>
                        <div class="mb-3 col-10 text-center">
                            <label for="age-delete-user" class="form-label "><b>Age</b></label>
                            <input type="text" class="form-control " id="age-delete-user" disabled >
                        </div>
                        <div class="mb-3 col-10 text-center">
                            <label for="email-delete-user" class="form-label "><b>Email</b></label>
                            <input type="text" class="form-control " id="email-delete-user" disabled >
                        </div>
                        <div class="mb-3 col-10 text-center">
                            <label for="password-delete-user" class="form-label "><b>Password</b></label>
                            <input type="text" class="form-control " id="password-delete-user" disabled >
                        </div>
                        <div class="mb-3 col-10 text-center">
                            <label for="role-delete-user" class="form-label "><b>Role</b></label>
                            <select class="form-select" size="2"  id="role-delete-user" disabled >
                                <option value="ADMIN">ADMIN</option>
                                <option value="USER">USER</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" th:onclick='delete_user()'>Delete</button>
        </div>
    </div>
</div>
</div>
<script>
    function renderDataUserTable(data) {
                let tableHeader = "<table id='user-table' class='table'><thead><tr><th scope='col'>ID</th><th scope='col'>First name</th><th scope='col'>Last name</th><th scope='col'>Age</th><th scope='col'>Email</th><th scope='col'>Roles</th></tr></thead><tbody>";
                let tableContent = "";
                for(i = 0; i < data.length; i++) {
                    tableContent = tableContent + "<tr class=\"table-secondary\">" +
                        "<th scope=\"row\" id=\"tr_id_"+ data[i].id+"\">"+ data[i].id+"</th>" +
                        "<td id=\"tr_fn_" + data[i].id + "\">"+data[i].firstName+"</td>" +
                        "<td id=\"tr_ln_" + data[i].id + "\">"+data[i].lastName+"</td>" +
                        "<td id=\"tr_age_" + data[i].id + "\">"+data[i].age+"</td>" +
                        "<td id=\"tr_em_" + data[i].id + "\">"+data[i].email+"</td>" +
                        "<td id=\"tr_cm_" + data[i].id + "\">"+data[i].roles+"</td></tr>";
                }
                let tableFooter = "</tbody></table>";
                let currentNode = document.querySelector('#user-table');
                let newNode = document.createElement('table');
                newNode.classList.add("table");
                newNode.setAttribute("id","user-table");
                console.log(tableHeader + tableContent + tableFooter);
                newNode.innerHTML = tableHeader + tableContent + tableFooter;
                setTimeout(()=>{
                    currentNode.parentNode.replaceChild(newNode, currentNode);
                },1000);

    }

    function renderDataAdminTable(data) {
        let tableHeader = "<table id='admin-table' class='table'><thead><tr><th scope='col'>ID</th><th scope='col'>First name</th><th scope='col'>Last name</th><th scope='col'>Age</th><th scope='col'>Email</th><th scope='col'>Roles</th><th scope=\"col\">Edit</th><th scope=\"col\">Delete</th></tr></thead><tbody>";
        let tableContent = "";
        for(i = 0; i < data.length; i++) {
            tableContent = tableContent + "<tr class=\"table-secondary\">" +
                "<th scope=\"row\" id=\"tr_id_"+ data[i].id+"\">"+ data[i].id+"</th>" +
                "<td id=\"tr_fn_" + data[i].id + "\">"+data[i].firstName+"</td>" +
                "<td id=\"tr_ln_" + data[i].id + "\">"+data[i].lastName+"</td>" +
                "<td id=\"tr_age_" + data[i].id + "\">"+data[i].age+"</td>" +
                "<td id=\"tr_em_" + data[i].id + "\">"+data[i].email+"</td>" +
                "<td id=\"tr_cm_" + data[i].id + "\">"+data[i].roles+"</td>" +
                "<td><button type=\"button\" class=\"btn btn-secondary\" data-bs-toggle=\"modal\" data-bs-target=\"#editModal\" onclick=\"edit_user("  + data[i].id + ")\">Edit</button></td><td><button type=\"button\" class=\"btn btn-danger\" data-bs-toggle=\"modal\" data-bs-target=\"#deleteModal\" onclick=\"delete_user_window(" + data[i].id + ")\">Delete</button></td></tr>";
        }
        let tableFooter = "</tbody></table>";
        let currentNode = document.querySelector('#admin-table');
        let newNode = document.createElement('table');
        newNode.classList.add("table");
        newNode.setAttribute("id","admin-table");
        console.log(tableHeader + tableContent + tableFooter);
        newNode.innerHTML = tableHeader + tableContent + tableFooter;
        setTimeout(()=>{
            currentNode.parentNode.replaceChild(newNode, currentNode);
        },1000);

    }
    function delete_user_window(user_id){
        let tr_id = "#tr_id_" + user_id;
        let v_id = $(tr_id).html();
        $("#id-delete-user").val(v_id);

        let tr_firstN = "#tr_fn_" + user_id;
        let v_firstN = $(tr_firstN).html();
        $("#first-name-delete-user").val(v_firstN);

        let tr_lastN = "#tr_ln_" + user_id;
        let v_tr_lastN = $(tr_lastN).html();
        $("#last-name-delete-user").val(v_tr_lastN);

        let tr_email = "#tr_em_" + user_id;
        let v_tr_email = $(tr_email).html();
        $("#email-delete-user").val(v_tr_email);

        let tr_age = "#tr_age_" + user_id;
        let v_tr_ega = $(tr_age).html();
        $("#age-delete-user").val(v_tr_ega);

        let tr_role = "#tr_cm_" + user_id;
        let v_role = $(tr_role).html();
        if(v_role === "[ADMIN]")$("#role-delete-user").val("ADMIN");
        if(v_role === "[USER]")$("#role-delete-user").val("USER");
    }

    function delete_user(){
        let user_id = $("#id-delete-user").val();
        let url = "/admin/" + user_id;
        $.ajax({
            url: url,
            type: 'DELETE',
            success:function (data){
                renderDataUserTable(data);
                renderDataAdminTable(data);
            }
        });

    }
    function edit_user(user_id){
        let tr_id = "#tr_id_" + user_id;
        let v_id = $(tr_id).html();
        $("#id-edit-user").val(v_id);

        let tr_firstN = "#tr_fn_" + user_id;
        let v_firstN = $(tr_firstN).html();
        $("#first-name-edit-user").val(v_firstN);

        let tr_lastN = "#tr_ln_" + user_id;
        let v_tr_lastN = $(tr_lastN).html();
        $("#last-name-edit-user").val(v_tr_lastN);

        let tr_email = "#tr_em_" + user_id;
        let v_tr_email = $(tr_email).html();
        $("#email-edit-user").val(v_tr_email);

        let tr_age = "#tr_age_" + user_id;
        let v_tr_ega = $(tr_age).html();
        $("#age-edit-user").val(v_tr_ega);

        let tr_role = "#tr_cm_" + user_id;
        let v_role = $(tr_role).html();
        if(v_role === "[ADMIN]")$("#role-edit-user").val("ADMIN");
        if(v_role === "[USER]")$("#role-edit-user").val("USER");

    }

    function submitForm() {
        // Get form data as JSON
        const formData = {
            id:"0",
            firstName: $('#first-name-new-user').val(),
            lastName: $('#last-name-new-user').val(),
            age: $('#age-new-user').val(),
            password: $('#password-new-user').val(),
            email: $('#email-new-user').val(),
            roles: $('#role-new-user').val(),
        };

        // Make POST request using jQuery $.ajax()
        $.ajax({
            url: '/admin/add',
            method: 'POST',
            dataType: 'json',
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify(formData),
            success:function (data){
                console.log(data);
                renderDataUserTable(data);
                renderDataAdminTable(data);
            }
        });
    }

    function update_user(){
        let user_id = $("#id-edit-user").val();
        let url = "/admin/" + user_id;
        const formData = {
            firstName: $('#first-name-edit-user').val(),
            lastName: $('#last-name-edit-user').val(),
            age: $('#age-edit-user').val(),
            password: $('#password-edit-user').val(),
            email: $('#email-edit-user').val(),
            roles: $('#role-edit-user').val(),
        };
        // Make POST request using jQuery $.ajax()
        $.ajax({
            url: url,
            method: 'POST',
            dataType: 'json',
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify(formData),
            success:function (data){
                renderDataUserTable(data);
                renderDataAdminTable(data);
            }
        });
    }


</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>