<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
    <style>
        table, th, td {
            border: black 1px solid;
        }
    </style>
</head>
<body>
    <h1>User, welcome spring boot security page!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="LOGOUT"></input>
    </form>
    </br>
    <h2><a href="/admin">/admin</a></h2>
    <table>
        <thead>
        <tr>
            <th>NAME</th><th>PASSWORD</th><th>EMAIL</th><th>ROLES</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="user : ${users}">
            <tr>
                <td th:id = "'tr_fn_' + ${user.id}" th:text="${user.getLogin()}"></td>
                <td th:id = "'tr_ln_' + ${user.id}" th:text="${user.getPassword()}"></td>
                <td th:id = "'tr_em_' + ${user.id}" th:text="${user.getEmail()}"></td>
                <td th:id = "'tr_cm_' + ${user.id}" th:text="${user.getRoles()}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</body>
</html>